* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-name {
  text-align: 'center';
  padding: '1rem';
  font-size: '2.5rem';
  color: 'white';
}

.my-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

@media only screen and (max-width: 768px) {
  .my-form {
    /* margin-bottom: 30px; */
    padding-bottom: 1.5rem;
  }
}
